<html xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Lista de Estados</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estado : ${listaEstados}">
                <td th:text="${estado.Id}"></td>
                <td th:text="${estado.nome}"></td>
                <td th:text="${estado.sigla}"></td>
                <td colspan="2">
                    <a th:href="@{/editarEstado/{id}(id=${estado.Id})}">Editar</a>
                    <a th:href="@{/removerEstado/{id}(id=${estado.Id})}">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
